
body {
    background-color: cornflowerblue;
    border: 3px solid #bababa;
    /* border-radius: 80px; */
    /* padding: 250px 100px 230px 60px; */
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

html {
    /* border: 24px dashed red; */
    height: 100%;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}


.direction{
    color: rgba(255, 255, 255, 0.43);
}
header, footer {
    /* flex: 1; */
    width: 100%;
    height: 90px;
    background: #698dcd;

}


header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

main {
    flex: 1;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    flex-direction: column;
}

header {
    border-bottom: .5px solid #8cace3;
    box-shadow: 0 16px 15px rgba(239, 242, 250, 0.34);
}

footer {
    border-top: .5px solid #8cace3;
    box-shadow: 0 -14px 15px #769de3;

}

.search-wrapper {
    height: 100px;
    border: .5px solid #ffffff75;
    width: 100%;
    border-radius: 10px;
    padding: 29px 30px;
    display: flex;
    background: #ffffff3b;
    justify-content: flex-end;
    margin-bottom: 20px;
    /* flex: 1; */
    align-items: center;
}

.type-select-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    color: #354869;
    font-size: 30px;

}

#type-select{
    display: flex;
    flex-direction: row;
    width: 120px;
    margin: 0 5px;
    /*margin: 15px 0;*/
    color: #688dcd;
    font-size: 20px;
    padding: 10px 10px 10px 10px;

    border-radius: 10px;
}

.search-wrapper input[type=button] {
    width: 120px;
    color: #688dcd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 0 #969696;
    padding: 10px 0 10px 0;

}

.search-wrapper input[type=button]:hover,
#type-select:hover {
    background: #e0ebff;
    box-shadow: 4px 5px 0 #bfd5fd;
}

.search-wrapper input[type=button]:active,
#type-select:active {
    box-shadow: none;
}

input[type="text"] {
    border: none;
    border-radius: 10px;
    color: #6495ec;
    flex: 1;
    margin-right: 40px;
    padding: 15px;

}

input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;

}

div#result-list {
    flex: 1;
    overflow: auto;
    padding: 30px;
    width: 100%;
    text-align: center;
    display: inline;


}

div#result-list::-webkit-scrollbar{
    width: 1em;
}

div#result-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


div#result-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.data-item-wrapper {
    display: flex;
    margin: 20px 0 0 0;
    border-radius: 25px;
    padding: 30px;
}

.data-item-wrapper:hover{
    color:black;
    /*margin: 0 30px 0 0;*/
    transition: opacity 1.5s ease-in-out;
    box-shadow: 12px 15px 20px 25px  rgba(190, 212, 253, 0.38);
}

.data-item-wrapper > div {
    flex: 1;
    margin: 10px;
}

.data-fields {
    margin: 0 0 0 30px;
}
#movie-details{
    color: #ecc000;
}

#podcast-details{
    color: #68ff81;
}
.gener-title{
    font-size: 20px;
    margin: 10px 0 10px 0;
}
img{
    margin: 45px 0;
    height:250px;
    width: 150px;
}

video{
    width: 550px;
    height: 300px;
    background-color: black;
}

audio{
    margin: 125px  0 0;

}



#song-title,
#movie-title,
#podcast-title,
#music-video-title,
#audio-book-title{
    font-size: 45px;
    padding: 30px;
    margin-top: 55px;

}
#song-title:hover{
    color: red;
    cursor: pointer;

}

#podcast-title:hover,
.podcast-a:hover{
    color: #68ff81;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
}




#movie-title:hover{
    color: #ecc000;
    cursor: pointer;

}



#movie-Description{
    margin: 30px 0 0;
}
#movie-Description:hover{
    color: #ecc000;
}

#music-video-title:hover,
.music-video-a:hover{
    color: rgba(130, 0, 236, 0.89);
    cursor: pointer;
}
#music-video-details{
    color: #8200ECE2;
}


.hovertext {

    position: relative;
    /*border-bottom: 1px dotted black;*/
}


.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.59);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
 font-size: 20px;
    position: absolute;
    /*z-index: 1;*/
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}


hr{
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
}




@media screen and (max-width: 992px){
    .type-select-wrapper {
        margin: 5px 10px;
        font-size: 20px;
        padding: 7px 0 3px;
    }
    .search-wrapper{
        display: flex;
        flex-direction: column;
        margin: 10px 0 ;
        justify-content: center;
        padding: 100px 0 100px 40px;
    }
    #search-box{
        width: 100%;
    }
    input[type=button]{
        margin: 0 50px 0 0;

    }

    div#result-list{
        /*display:  flex;*/
        /*flex-direction: column;*/
        /*!*display: inline-block;*!*/
        /*display: block;*/
        text-align: center;
        display: block;
    }
    #result-list{

    }
    .data-item-wrapper{

        justify-content: space-between;
        align-content: space-between;
    }

    .song-title {
        /* border: 1px solid; */
        font-weight: 900;
        font-size: 20px;
        margin: 0 20px 0 10px;

    }
    video{
        width: 290px;
        height: 180px;
    }
    img{
        width: 70px;
        height: 150px;
    }



}

@media screen and (max-width: 1050px){
    .type-select-wrapper {
        margin: 5px 10px;
        font-size: 25px;

    }
    video{
        margin: 95px 30px 0;
    }
}